@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  outline: none;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 16px;
  font-family: "Karla", serif;
  background-color: hsl(148, 38%, 91%);
  width: 100%;
}

.card-container {
  width: 90%;
  padding: 40px;
  margin: 30px 0;
  background-color: white;
  border-radius: 7px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
.card-container .input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.card-container input:hover,
.card-container input:active,
.card-container input:focus {
  border: 2px solid hsl(169, 82%, 27%) !important;
}
.card-container .form-title {
  margin-bottom: 20px;
}
.card-container input[type=text],
.card-container input[type=email] {
  border-radius: 7px;
  line-height: 3em;
  border: 1px solid hsla(0, 0%, 0%, 0.6);
  box-shadow: 0 0 2px black;
  padding: 0 10px;
  cursor: pointer;
}
.card-container label {
  margin-bottom: 7px;
}
.card-container fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.card-container fieldset legend {
  margin-bottom: 10px;
}
.card-container fieldset .query-label {
  border-radius: 7px;
  border: 1px solid hsla(0, 0%, 0%, 0.6);
  box-shadow: 0 0 2px black;
  display: flex;
  align-items: center;
  line-height: 2.5em;
  cursor: pointer;
}
.card-container fieldset .query-label:hover, .card-container fieldset .query-label:focus, .card-container fieldset .query-label:active {
  border: 2px solid hsl(169, 82%, 27%);
}
.card-container fieldset .query-label input[type=radio] {
  width: 20px;
  height: 20px;
  margin: 0 20px;
  accent-color: hsl(169, 82%, 27%);
  cursor: pointer;
}
.card-container textarea {
  height: 20em;
  border: 1px solid hsla(0, 0%, 0%, 0.6);
  box-shadow: 0 0 2px black;
  border-radius: 7px;
  resize: none;
}
.card-container textarea:hover, .card-container textarea:focus, .card-container textarea:active {
  border: 2px solid hsl(169, 82%, 27%);
}
.card-container .checkbox-label {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}
.card-container .checkbox-label input[type=checkbox] {
  transform: scale(1.3);
  accent-color: hsl(169, 82%, 27%);
}
.card-container button[type=submit] {
  background-color: hsl(169, 82%, 27%);
  color: white;
  padding: 15px 0;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.popup-container {
  background-color: hsl(187, 24%, 22%);
  border-radius: 10px;
  position: fixed;
  top: 10px;
  align-self: center;
  color: white;
  text-align: start;
  padding: 20px;
  border: none;
}
.popup-container .popup-title {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.error {
  border: 2px solid red !important;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.hidden {
  display: none;
}

@media screen and (min-width: 767px) {
  .card-container {
    max-width: 850px;
  }
  .card-container fieldset {
    flex-direction: row;
    gap: 15px;
  }
  .card-container fieldset .query-label {
    flex: 1;
  }
  .card-container .names-container {
    display: flex;
    gap: 15px;
  }
  .card-container .names-container .input-container {
    width: 100%;
    flex: 1;
  }
  .card-container textarea {
    height: 10rem;
  }
}/*# sourceMappingURL=index.css.map */